/.idea/
Desktop.iml
/out/production/2022_JAVA/TypyProste.class
/out/production/2022_JAVA/CustomScanner.class
/out/production/2022_JAVA/HellowWorld.class
/out/production/2022_JAVA/InkrementacjaDekrementacja.class
/out/production/2022_JAVA/OperatoryMatematyczne.class
/out/production/2022_JAVA/TypyObiektowe.class
/out/production/2022_JAVA/Zmienne.class
